
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 0px !important;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3B83BD;
  text-decoration: none;
  color: #111;
}
.menu {
	position:fixed;
	z-index:500;
	top:0;
  height: 100%;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

html,body{
  font-family:'Open Sans',sans-serif !important;
}

body{
  position:relative
}

#content {
  width: 100%;
  margin: 0 auto 0px;
  top: 100vh;
  position: absolute;
  height: 100%;
  background-color: #fff;
}

.text-white{
  color:#fff !important
}

.text-thin{
  font-weight:10
}

/*video yo edite*/
.title-container {
  z-index: 0;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}

/*video*/
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  height: 100%;
  width: 100%;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 0;
  position: fixed;
  background: rgba(0, 0, 0, 32);
  width: 100%;
}
.video-container video {
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

video.fillWidth {
  position: fixed;
  z-index: -1;
}
